<div
  class="relative inline-block text-left w-full"
  (mouseleave)="closeSelector()"
>
  <div class="w-full">
    <button
      type="button"
      class="border-blue-700 border-2 rounded-md py-3 w-full"
      id="menu-button"
      [attr.aria-expanded]="isSelectorOpen()"
      aria-haspopup="true"
      (click)="toggleSelector()"
    >
      <div class="flex flex-row justify-between items-center mx-4">
        <p class="font-bold">
          {{ name }}
          @if (selectedValues.length > 0) {
          <span
            class="ml-2 text-xs font-semibold text-ellipsis text-nowrap overflow-hidden ..."
          >
            ({{ selectedValues.length }}
            {{ selectedValues.length > 1 ? 'sélectionnés' : 'sélectionné' }})
          </span>
          }
        </p>
        <i class="arrow-down"></i>
      </div>
    </button>
  </div>

  @if (isSelectorOpen()) {
  <div
    class="origin-top-right absolute right-0 z-10 w-full max-h-64 overflow-y-auto rounded-md shadow-lg bg-white dark:bg-slate-800 ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      @for (option of options; track option) {
      <div
        [class.bg-gray-100]="selectedValues.includes(option)"
        [class.dark:bg-blue-800]="selectedValues.includes(option)"
        class="flex gap-2 items-center px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-blue-900 dark:hover:text-white w-full hover:cursor-pointer"
        (click)="handleSelectChange(option)"
        role="menuitem"
      >
        <i
          [class]="
            selectedValues.includes(option)
              ? 'checkbox-checked'
              : 'checkbox-unchecked'
          "
        ></i>
        <label>{{ option }}</label>
      </div>
      }
    </div>
  </div>
  }
</div>
