<div
  class="relative inline-block text-left min-w-fit"
  (mouseleave)="closeSelector()"
>
  <div>
    <button
      type="button"
      class="flex flex-row md:justify-between items-center w-full whitespace-nowrap md:gap-4 pb-2"
      id="menu-button"
      [attr.aria-expanded]="isSelectorOpen"
      aria-haspopup="true"
      (click)="toggleSelector()"
    >
      <span class="font-medium text-sm w-full">
        {{ name }} {{ options[selectedIndex].name }}
      </span>
      <ng-icon class="text-neutral-600 text-xs" name="faSolidCaretDown" />
    </button>
  </div>

  @if (isSelectorOpen) {
  <div
    class="origin-top-right absolute right-0 min-w-full overflow-x-hidden rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      @for (option of options; track option.value; let i = $index) {
      <button
        [class]="
          'flex  px-4 py-2 text-sm text-ellipsis text-nowrap text-neutral-700 hover:bg-neutral-100 hover:text-neutral-900 w-full ' +
          (selectedIndex === i ? 'bg-neutral-100 ' : '')
        "
        (click)="handleSelectChange(i)"
        role="menuitem"
      >
        {{ option.name }}
      </button>
      }
    </div>
  </div>
  }
</div>
