<div class="flex flex-col gap-4 p-4 w-1/2 mx-auto">
  <div class="flex gap-4 items-center mb-4">
    <h2 class="text-2xl font-bold">Favoris</h2>
    @if (favoriteCount > 0) {
    <p class="text-sm text-neutral-400">{{ favoriteCount }} favoris</p>
    }
  </div>
  @for (product of favoriteProducts; track product.id) {
  <app-product-card [product]="product" />
  }
</div>

@if (favoriteProducts.length > 0) {

<div
  class="flex justify-center p-4 margin-top-auto sticky bottom-0 left-0 right-0 border-t bg-neutral-50 border-neutral-300"
>
  <button
    (click)="clearFavorites()"
    class="bg-neutral-800 text-white px-4 py-2 rounded-md"
  >
    Vider les favoris
  </button>
</div>
} @else {
<p class="text-center text-neutral-500">Aucun favoris</p>
}
