@if (minimized){
<div
  class="flex items-center justify-between p-4 border-t border-neutral-200 w-full"
>
  <div class="flex items-center gap-4">
    <div
      class="w-14 h-14 rounded overflow-hidden bg-neutral-600 flex items-center justify-center"
    >
      <ng-icon class="text-white text-2xl" name="faSolidImage" />
    </div>
    <div class="flex flex-col justify-between gap-1 items-start">
      <p class="text-normal font-semibold text-gray-800">
        {{ pokemon.name | uppercase }}
      </p>
      <p class="text-neutral-400 text-xs">
        {{ quantity }} x
        {{
          pokemon.tcgplayer.prices.holofoil.market
            | currency : 'EUR' : true : '' : 'fr'
        }}
      </p>
    </div>
  </div>

  <p class="text-normal font-semibold text-gray-800 text-right">
    {{ price | currency : 'EUR' : true : '' : 'fr' }}
  </p>
</div>
} @else {
<div
  class="grid grid-cols-3 items-center justify-between p-4 border-t border-neutral-200 w-full"
>
  <div class="flex items-center gap-4">
    <div
      class="w-10 h-10 md:w-20 md:h-20 rounded overflow-hidden bg-neutral-600 flex items-center justify-center"
    >
      <ng-icon class="text-white text-lg md:text-4xl" name="faSolidImage" />
    </div>
    <div class="flex flex-col justify-between gap-1 items-start">
      <a
        routerLink="/pokemon/{{ pokemon.id }}"
        class="text-sm md:text-lg font-semibold text-gray-800"
      >
        {{ pokemon.name | uppercase }}
      </a>
      <p class="text-neutral-400 text-xs">
        {{ quantity }} x
        {{
          pokemon.tcgplayer.prices.holofoil.market
            | currency : 'EUR' : true : '' : 'fr'
        }}
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center gap-4">
    <app-quantity-selector
      [quantity]="quantity"
      (quantityChange)="onChangeQuantity($event)"
    ></app-quantity-selector>
    <button
      class="text-neutral-500 hover:text-neutral-600 flex items-center gap-1 text-xs"
      (click)="removeFromCart()"
    >
      <ng-icon class="text-neutral-500" name="faSolidTrash" />
      Remove
    </button>
  </div>

  <p class="text-sm md:text-lg font-semibold text-gray-800 text-right">
    {{ price | currency : 'EUR' : true : '' : 'fr' }}
  </p>
</div>
}
